version: '3.8'

services:
  postgres:
    image: postgres:13-alpine
    container_name: pg-cards
    restart: always
    environment:
      POSTGRES_DB: cards
      POSTGRES_USER: app
      POSTGRES_PASSWORD: pass
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: